form {
  &.wpcf7-form {
    label {
      display: block;
      margin: 0;

      &.hide-label {
        opacity: 0;
        visibility: hidden;
        height: 0;
      }
    }
    span {
      &.cf-required {
        color: $color-hover;
      }
      &.wpcf7-form-control-wrap {
        display: block;
        margin-top: 5px;

        input,
        textarea {
          width: 100%;
          margin: 0;
          padding: 8px 10px;
          border: 1px solid $border-color;
        }
        textarea {
          height: 110px;
        }
      }
    }
    input[type="submit"] {
      color: #ffffff;
      border: none;
      cursor: pointer;
      padding: 8px 30px;
      background-color: $background-primary;
      @include transition(all 0.4s ease-in-out);

      &:hover {
        background-color: $background-hover;
      }
    }
  }
}