@media (min-width: 992px) and (max-width: 1400px) {
  .site-menu ul li:nth-last-child(1) .sub-menu,
  .site-menu ul li:nth-last-child(2) .sub-menu {
    left: auto;
    right: 0;
  }
  .site-menu ul li:nth-last-child(1) .sub-menu li .sub-menu,
  .site-menu ul li:nth-last-child(2) .sub-menu li .sub-menu {
    left: auto;
    right: 90%;
  }
  .site-menu ul li:nth-last-child(1) .sub-menu li:hover > .sub-menu,
  .site-menu ul li:nth-last-child(2) .sub-menu li:hover > .sub-menu {
    left: auto;
    right: 100%;
  }
}
@media (min-width: 992px) {
  .site-menu ul li .sub-menu {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .site-menu ul li a {
    padding: 0 7px;
  }
}
@media (max-width: 991px) {
  .header-bottom_warp {
    display: block;
  }
  .site-logo {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-toggle {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
  }
  .site-menu {
    text-align: left;
  }
  .site-menu .collapse {
    display: none !important;
  }
  .site-menu .collapse.in {
    display: block !important;
  }
  .site-menu ul li {
    display: block;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .site-menu ul li:last-child {
    border-bottom: 0;
  }
  .site-menu ul li a {
    display: inline-block;
    padding: 15px 0;
  }
  .site-menu ul li .sub-menu {
    display: none;
    position: static;
    opacity: 1;
    visibility: visible;
    border-top: 0;
    background-color: transparent;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
  }
  .site-menu ul li .sub-menu li {
    border-bottom: 0;
    padding: 0;
  }
  .site-menu ul li .sub-menu li a {
    padding: 8px 0;
  }
  .site-menu ul li .sub-menu li a:before {
    content: "\f10c";
    display: inline-block;
    font-family: "fontawesome";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    margin-right: 10px;
  }
  .site-menu ul li .sub-menu li .icon_menu_item_mobile {
    top: 5px;
  }
  .icon_menu_item_mobile {
    display: block;
  }
}