.element-title {
  font-size: 24px;
}
.element-introduces__icon {
  .element-introduces__font--icon {
    font-size: 45px;
  }
}
.element-introduces__title {
  margin-bottom: 18px;
}
.element-introduces__text--link {
  a {
    display: inline-block;
    margin-top: 15px;
    color: $color-hover;

    &:hover {
      color: $color-primary;
    }
  }
}