.element-template__container {
  position: relative;
}
.loader_box {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  z-index: 5;
  margin-top: -25px;
  margin-left: -25px;
}

.loader_product_ajax {
  display: inline-block;
  border: 5px solid #dddddd;
  border-top: 5px solid #cb3506;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.elementor {
  .element-template__image-demo {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.element-template__btn--cat {
  margin-bottom: 20px;

  button {
    cursor: pointer;
    background-color: transparent;
    padding: 5px 12px;
    margin: 0 4px 15px 0;
    text-transform: capitalize;
    border: 1px dashed #a1a1a1;
    @include transition(all 0.4s ease-in-out);

    &:hover {
      color: $color-hover;
    }
  }
}
.element-template__item {
  position: relative;
  padding: 15px;
  background-color: #ffffff;
  margin-bottom: 30px;
  border: 1px solid #dddddd;
  @include transition(all 0.4s ease-in-out);

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 30px;
    z-index: 1;

    i.fa {
      position: relative;
      opacity: 0;
      color: #ffffff;
      z-index: 1;
      @include transition(all 0.4s ease-in-out);
    }
    &:after {
      position: absolute;
      content: '';
      background-color: rgba(0,0,0,0.5);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      @include transition(all 0.4s ease-in-out);
    }
  }

  &:hover {
    @include box-shadow( 0 0 15px 5px #dddddd );

    a {
      i.fa {
        opacity: 1;
      }
      &:after {
        opacity: 1;
      }
    }
    .element-template__title-demo {
      color: #ffffff;
    }
  }
}
.element-template__image-demo {
  height: 325px;
  margin-bottom: 15px;

  img {
    @include object-fit(cover);
  }
}
.element-template__title-demo {
  position: relative;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  z-index: 1;
  @include transition(all 0.4s ease-in-out);
}
.element-template__btn--link {
  margin-top: 30px;
  a {
    display: inline-block;
    background-color: $background-primary;
    padding: 10px 20px;
    color: #ffffff;
    @include border-radius(3px);

    &:hover {
      background-color: $background-hover;
    }
  }
}