.header .navbar {
  margin: 0;
}
.header-bottom {
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.3);
}
.site-logo {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
.site-logo a {
  display: inline-block;
  line-height: 64px;
}
.site-logo a .tz-logo-text {
  font-size: 18px;
  display: inline-block;
}
.site-menu {
  -webkit-flex: 1;
  flex: 1;
}
.site-menu ul {
  padding: 0;
  margin: 0;
}
.site-menu ul li {
  display: inline-block;
  padding: 22px 0;
  position: relative;
  text-align: left;
}
.site-menu ul li a {
  padding: 0 15px;
  text-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
}
.site-menu ul li a:last-child {
  padding-right: 0;
}
.site-menu ul li a:hover {
  background-color: transparent;
  color: #ff5555;
}
.site-menu ul li .sub-menu {
  min-width: 160px;
  border-top: 1px solid #ff5555;
  background-color: #eeeeee;
  position: absolute;
  top: 120%;
  left: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.site-menu ul li .sub-menu li {
  padding: 8px 0;
  display: block;
}
.site-menu ul li .sub-menu li a {
  white-space: nowrap;
}
.site-menu ul li .sub-menu li .sub-menu {
  left: 90%;
  top: -1px;
}
.site-menu ul li .sub-menu li:hover > .sub-menu {
  left: 100%;
}
.site-menu ul li:hover > .sub-menu {
  top: 100%;
  z-index: 999;
  opacity: 1;
  visibility: visible;
}
.icon_menu_item_mobile {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 12px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;
}
.icon_menu_item_mobile:after {
  content: "\f196";
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
}
.icon_menu_item_mobile.icon_menu_item_mobile_active:after {
  content: "\f147";
}