/* ## Default */
.site-container {
  padding: 50px 0;
}
.site-page-content:after {
  display: table;
  clear: both;
  content: '';
}
.site-post-item {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.site-post-title,
.site-post-title a {
  font-size: 24px;
  margin-bottom: 10px;
}
.site-post-title a {
  color: #333;
}
.site-post-title a:hover {
  color: #ff5555;
}
.site-post-meta {
  margin-bottom: 30px;
  font-size: 12px;
}
.site-post-meta span {
  display: inline-block;
  margin-right: 10px;
}
.site-post-meta span:after {
  display: inline-block;
  content: '/';
  margin-left: 10px;
  margin-right: 0;
}
.site-post-meta span:last-child:after {
  display: none;
}
.site-post-meta span a {
  color: #ff5555;
}
.site-post-meta span a:hover {
  color: #777;
}
.site-post-excerpt ul li {
  margin-bottom: 10px;
}
.site-post-excerpt ul li:last-child {
  margin-bottom: 0;
}
.site-post-excerpt table {
  margin-bottom: 30px;
  width: 100%;
}
.site-post-excerpt table tr {
  border-bottom: 1px solid #eee;
}
.site-post-excerpt table tr th {
  padding: 10px 20px 10px 0;
}
.site-post-excerpt dd {
  margin: 0 0 20px;
}
.site-post-excerpt:after {
  display: table;
  clear: both;
  content: '';
}
.page-links {
  font-weight: 700;
}
.page-links a {
  display: inline-block;
}
.page-links a span {
  display: inline-block;
  padding: 0 5px;
}