/* Taxonomy Template */
.page-taxonomy-template--title {
  font-size: 20px;
  color: $color-hover;
}
/* Single Template */
.post-template__item--title {
  font-size: 23px;
  border-bottom: 1px solid $border-color;
  padding-bottom: 15px;
  margin-bottom: 45px;
  width: 100%;
}
.post-template__box--cat {
  margin-bottom: 30px;
}
.post-template__box--button {
  margin-bottom: 30px;

  a {
    position: relative;
    display: inline-block;
    color: #ffffff;
    padding: 8px 15px;
    background-color: $background-primary;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    @include border-radius(3px);

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $background-hover;
      @include border-radius(3px);
      @include transform(scaleX(0));
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &:hover {
      &:before {
        @include transform(scaleX(1));
      }
    }
  }
}
.post-template__box--meta,
.relate-template-warp {
  margin-top: 30px;
}
.post-template__box--meta__title {
  font-size: 18px;
  margin-bottom: 15px;
  text-decoration: underline;
  color: $color-hover
}
.post-template__box--meta__tag a {
  display: inline-block;
  border: 1px solid $color-hover;
  margin-bottom: 12px;
  padding: 6px 8px;
  text-transform: capitalize;
  @include border-radius(3px);

  &:hover {
    color: #ffffff;
    background-color: $color-hover;
  }
}
.post-template__box--description {
  margin-top: 30px;
}
.post-template__box--description__title,
.relate-template__title {
  font-size: 23px;
  margin-bottom: 30px;
  text-decoration: underline;
  color: $color-hover;
}
.post-template__box--description__content {
  text-align: justify;
}
.relate-template__item {
  border: 1px solid $border-color;
  padding: 15px;
}
.relate-template__item--image {
  margin-bottom: 15px;
}
.relate-template__item--title {
  font-size: 16px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}