/* ## Single */
.site-single .site-post-title {
  margin-bottom: 30px;
}
.site-single .site-post-image {
  margin-bottom: 30px;
}
.site-single .page-links {
  margin-bottom: 30px;
}
.site-post-cat-tag {
  margin-bottom: 20px;
}
.site-post-cat-tag span {
  display: block;
  margin-bottom: 10px;
}
.site-post-cat-tag span a {
  display: inline-block;
  padding: 3px 7px;
  margin: 0 5px 5px 0;
  border: 1px solid #eee;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.site-post-cat-tag span a:first-child {
  margin-left: 10px;
}
.site-post-cat-tag span a:hover {
  color: #fff;
  background: #ff5555;
  border: 1px solid #ff5555;
}
.site-post-share {
  margin-bottom: 30px;
}
.site-post-share span {
  display: inline-block;
}
.site-post-share a {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 5px 12px;
  font-size: 12px;
  margin: 0 5px;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.site-post-share a:hover {
  background: #ff5555;
  border: 1px solid #ff5555;
  color: #ffffff;
}
.site-post-share a:hover i.fa {
  -webkit-animation: toTopFromBottom 0.4s forwards;
  -moz-animation: toTopFromBottom 0.4s forwards;
  animation: toTopFromBottom 0.4s forwards;
}
.site-author .author-avata {
  width: 80px;
  margin-right: 20px;
  flex: 0 0 auto;
}
.site-author .author-avata img {
  width: 100%;
}
.site-author .author-info h3 {
  font-size: 15px;
  margin-bottom: 15px;
}
.site-author .author-info p:last-child {
  margin-bottom: 0;
}