// Color
$color-primary: #333333;
$color-title: #333333;
$color-hover: #ff5555;
$color-second: #33aa58;

// Background
$background-primary: #333333;
$background-hover: #ff5555;
$background-footer: #333333;

// Border color
$border-color: #dddddd;