.site-footer {
  background-color: $background-footer;
  padding-bottom: 10px;
  color: #ffffff;

  aside {
    .widget-title {
      color: #ffffff;
    }
    ul {
      li {
        padding-top: 0;
        border: none;
        a {
          color: #ffffff;

          &:hover {
            color: $color-hover;
          }
        }
      }
    }
    .social-widget {
      ul {
        li {
          a {
            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
.site-footer__top {
  padding-top: 50px;
}
/* Footer Bottom */
.site-footer__bottom {
  border-top: 1px solid #dadada;
}
.site-copyright {
  @include flex(1);
}
.site-copyright-menu {
  padding-top: 15px;
}
.site-copyright_text {
  font-size: 12px;
  margin: 0;
}
.site-footer__menu {
  text-align: right;
  @include flex(1);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 5px;

      &:last-child {
        padding-right: 0;
      }
      a {
        font-size: 12px;
      }
    }
  }
}